
//$color-h = rgb(153,153,153)
//$color-black= rgb(51,51,51)
//$color-red = rgb(255,56,59)
//$color-blue = rgb(78,151,255)
//$color-bottom = rgb(238,238,238)
////字体定义规范
//$font-size-20 = 20px
//$font-size-22 = 22px
//$font-size-24 = 24px
//$font-size-26 = 26px
//$font-size-28 = 28px
//$font-size-30 = 30px
//$font-size-32 = 32px
//$font-size-34 = 34px
//$font-size-36 = 36px
//$font-size-38 = 38px
//$font-size-40 = 40px
@screen-sm-min = 750px
@screen-sm-max = 992px

